@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

html, body {
  overflow-x: hidden; /* 가로 스크롤 완전히 숨기기 */
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: #E3E4EB;
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #A5B4FC;
  border-radius: 5px;
}

/* 스크롤바 손잡이 호버 시 색 */
::-webkit-scrollbar-thumb:hover {
  background: #7686D3;
}

body {
  background-color: #F7F7FA;
  font-family: "NanumSquareNeo", "sans-serif";
}